<div class="main col-md-3 col-centered">
    <h1>Details</h1>
    <div class="details">
        <p>Name: Jane Doe</p>
        <p>Citation #: 3459876</p>
        <p>Officer Name: Brady</p>
        <p>Badge #: 12345678</p>
        <p>Court Date: 12/15/2017</p>
        <p>Offenses:
        <ul>
            <li>Speeding 15mph+</li>
            <li>Illegal Lane Change</li>
            <li>Illegal U-Turn</li>
        </ul>
    </div>

    <div>
        <!--<h1 class="btn-long">Contact Lawyer</h1>-->
        <h1 class="btn-long" ng-click="vm.changeRoute('payment')">Pay Ticket</h1>
    </div>

</div>
<a class="btn-square footer ng-scope" ng-click="vm.changeRoute('garage')">Done</a>