<div class="col-md-6 col-centered main">
    <h1>Citations</h1>
    <img src="../../images/invoice.png" alt="Pic Icon">
    <p>.</p>
    <div class="citation-list">
        <div class="col-md-12">
            <div class="col-md-3"><h4>Citation#</h4></div>
            <div class="col-md-3"><h4>Date</h4></div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">613218963</div>
            <div class="col-md-3">01/07/2018</div>
            <div class="col-md-3"><a ng-click="vm.changeRoute('payment')">Pay Now</a></div>
            <div class="col-md-3"><a href="#">View</a></div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">25146854</div>
            <div class="col-md-3">12/16/2016</div>
            <div class="col-md-3">Paid</div>
            <div class="col-md-3"><a href="#">View</a></div>
        </div>
    </div>

</div>
<a class="btn-square footer" ng-click="vm.changeRoute('garage')">Done</a>
