<div class="col-md-3 col-centered main">
    <h1  class="margin-top-xl padding-top-xl">Choose Driver</h1>
    <img class="center-image" src="../../images/license-plate.png" alt="Pic Icon">
    <p>&nbsp;</p>
    <p class="help-block" ng-show="vm.errorMessage !== ''">{{vm.errorMessage}}</p>
    <form id="driverSearch" name="driverSearch" ng-submit="vm.changeView(driverSearch.$valid)" novalidate>
        <select ng-model="vm.selectedDriver" required>
            <option value="">Select Driver</option>
            <option value="{{driver.firstName}} {{driver.lastName}}" ng-repeat="driver in vm.drivers">{{driver.firstName}} {{driver.lastName}}</option>
        </select>
        <input class="icon center-image" type="image" name="submit" src="../../images/arrow.png" alt="Submit">
    </form>
</div>
