<div class="police">
  <div class="policecallbox">
    <div class="copbox"></div>
    <div class="perpbox" style="background: url('../../images/uploads/{{vm.driverData.images.profile}}') 50% 50% no-repeat">
      <div class="btn-circle btn-actions" ng-click="vm.changeRoute('policeReport')" id="copend"></div>
    </div>
  </div>

  <div class="infosection">
    <h2>Information</h2>

    <div class="docs">
      <img ng-src="../../images/uploads/{{vm.driverData.images.license}}" width="50%" height="50%" alt="License">
      <img ng-src="../../images/uploads/{{vm.driverData.images.insurance}}" width="50%" height="50%" alt="Insurance">
      <img ng-src="../../images/uploads/{{vm.driverData.images.registration}}" width="50%" height="50%" alt="Registration">
      <div class="prior">
        <h1>Prior Arrests</h1>
        <ul>
          <li>None</li>
        </ul>
        <h1>Prior Citations</h1>
        <ul>
          <li>Speeding: 02/13/2016</li>
        </ul>
      </div>
    </div>
  </div>
  <h1 class="btn-long" ng-click="vm.openCitation()">Write Citation</h1>

  <script type="text/ng-template"  id="citationModal.html">

      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Please Choose a Violation:</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <p ng-show="vm.selected.item == undefined" class="help-block">Please choose an option!</p>

          <p ng-repeat="violation in vm.items">
            <input id="{{violation.id}}" name="violation" type="checkbox" ng-click="vm.selected.item = violation">&nbsp; {{violation.type}} &nbsp;
            <input ng-if="violation.additionalInfo !== undefined" id="{{violation.additionalInfo.id}}" type="text" placeholder="{{violation.additionalInfo.placeholder}}">

          </p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="vm.ok()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
      </div>

  </script>
</div>