<div class="police col-centered col-md-8">
  <div class="policecallbox">

    <div id="cometchat_embed_synergy_container" style="width:100%;height:300px;max-width:100%;border:1px solid #CCCCCC;border-radius:5px;overflow:hidden;" ></div>

    <script>
        var chat_name = 'Officer_James';
        var chat_id = 10987654321;
        var chat_role = 'officer';
        var iframeObj = {};iframeObj.module="synergy";
        iframeObj.style="min-height:300px;min-width:100%;";
        iframeObj.width="100%";iframeObj.height="300px";
        iframeObj.src="//50668.cometondemand.net/cometchat_embedded.php";

        if(typeof(addEmbedIframe)==="function"){
            addEmbedIframe(iframeObj);
        }
    </script>
    <!--<div class="copbox"></div>
    <div class="perpbox" style="background: url('../../images/uploads/{{vm.driverData.images.profile}}') 50% 50% no-repeat">
      <div class="btn-circle btn-actions" ng-click="vm.changeRoute('policeReport')" id="copend"></div>
    </div>-->
  </div>

  <div class="infosection">
    <h2>Information</h2>

    <div class="docs ">
      <img ng-src="../../images/uploads/{{vm.driverData.images.license}}" width="50%" height="50%" alt="License">
      <img ng-src="../../images/uploads/{{vm.driverData.images.insurance}}" width="50%" height="50%" alt="Insurance">
      <img ng-src="../../images/uploads/{{vm.driverData.images.registration}}" width="50%" height="50%" alt="Registration">
    </div>
    <div class="prior col-md-12 priorsTable">

      <h1>Prior Arrests/Warrants/Citations</h1>
      <div class="row">
        <div class="col-md-2"><h2>Case#:</h2></div>
        <div class="col-md-1"><h2>Citation#:</h2></div>
        <div class="col-md-3"><h2>Date/Location/Officer</h2></div>
        <div class="col-md-3"><h2>Type/Status</h2></div>
        <div class="col-md-1"><h2>Charge(s)</h2></div>
        <div class="col-md-2"><h2>Document</h2></div>
      </div>
      <div class="row">
        <div class="col-md-2">12-1265-12661</div>
        <div class="col-md-1">6546516</div>
        <div class="col-md-3">12/24/2016/Plano,TX/Brady</div>
        <div class="col-md-3">Misdemeanor/Closed</div>
        <div class="col-md-1">DWI</div>
        <div class="col-md-2"><button class="warrants-button" ng-click="vm.openDocument('Warrant-of-Arrest.jpg')">Open Record</button></div>
      </div>
      <div class="row">
        <div class="col-md-2">52-1535-12561</div>
        <div class="col-md-1">1718192</div>
        <div class="col-md-3">02/13/2016/Frisco,TX/Brady</div>
        <div class="col-md-3">Misdemeanor/Closed</div>
        <div class="col-md-1">Speeding</div>
        <div class="col-md-2"><button class="warrants-button" ng-click="vm.openDocument('Warrant-of-Arrest.jpg')">Open Record</button></div>
      </div>
    </div>
  </div>
  <h1 class="btn-long" ng-click="vm.openCitation()">Write Citation</h1>

  <script type="text/ng-template"  id="citationModal.html">

      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Please Choose a Violation:</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <p ng-show="vm.selected.items.length === 0" class="help-block">Please choose an option!</p>

          <p ng-repeat="violation in vm.items">
            <input id="{{violation.id}}" name="violation" type="checkbox" ng-click="vm.addRemoveViolation(violation)">&nbsp; {{violation.type}} &nbsp;
            <input ng-if="violation.additionalInfo !== undefined" id="{{violation.additionalInfo.id}}" type="text" placeholder="{{violation.additionalInfo.placeholder}}">

          </p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="vm.ok()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
      </div>

  </script>

  <script type="text/ng-template"  id="viewDocument.html">
    <div class="modal-header">
      <h3 class="modal-title element-center" id="recordView">Record of Prior Arrest/Warrant/Citation</h3>
      <div class="modal-body" id="recordViewBody">
        <img class="center-image" ng-src="../../images/uploads/{{vm.item}}" width="50%" height="50%">
      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Close</button>
      </div>

    </div>
  </script>

</div>