
<section class="container-fluid">
<div class="row">
    <div ng-view></div>
</div>
</section>

<!--Menu-->
<div ng-controller="LayoutController">
<div id="menubutton" ng-click='menuToggle()'>
    <img src="../../images/menu.png" alt="Menu">
</div>
<section id="menu" ng-show="showMenu">
    <div id="menupanel">
        <div id="menuinner">
            <img src="../../images/Check_logo.png" alt="Logo">
            <ul class="menu-items">
                <a ng-click="changeRoute('customerInformation')"><li>Account</li></a>
                <li>Payments</li>
                <li>Citations</li>
                <li>Lawyers</li>
                <li>Settings</li>
                <li>About</li>
                <li>Help</li>
                <li ng-click="signOut()">Sign out</li>
            </ul>
        </div>
    </div>
</section>
<!--EndMenu-->
</div>